<div class="dashboard-container">

    <div class="side-menu">
        <div class="inner-menu">
            <div class="welcome">
                Hello,
                <br>
                [userName]
            </div>
            <div class="lists">
                <ul>
                    <li><a href="[currPage]&sub=myprofile">My Profile</a></li>
                    <li><a href="[currPage]&sub=lists">Lists</a></li>
                    <li><a href="[currPage]&sub=addlist">Add List</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="inner-main"></div>
    </div>
       
</div>