<div class="dashboard-container">

    <div class="side-menu">
        <div class="inner-menu">
            <div class="welcome">
                Hello,
                <br>
                [userName]
            </div>
            <div class="lists">
                <ul>
                    <li><a onclick="fetchArea('myprofile')">My Profile</a></li>
                    <li><a onclick="fetchArea('lists')">Lists</a></li>
                    <li><a onclick="modalView();" >Add List</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="inner-main">
            <area></area>
        </div>
    </div>
       
</div>

<div class="edit-modal" >
    <div class="inner-edit">
        <div onclick="modalView();" class="exit-modal"><i class="far fa-times-circle"></i></div>
    </div>
</div>