/**
 * index.scss
 * - Add any styles you want here!
 */
*{
margin:0;
padding:0;
box-sizing: border-box;
font-family:Verdana, Geneva, Tahoma, sans-serif;
cursor: auto;
}

.container{
  width:100%;
  height:100vh;
  background:white;
  display: grid;
  justify-content: center;
  align-content: center;
  .btn-wrapper{
    width:350px;
    display:flex;
    height:300px;
    background:blanchedalmond;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn{
      width:200px;
      padding:10px;
      text-align: center;
      background:salmon;
      cursor: pointer;
      justify-content: center;
      align-content: center;
      margin-bottom:20px;
      font-size:26px;
      color:white;

    }
    
  }
  .form-wrapper{
    padding:30px 40px;
    display:flex;
    background:blanchedalmond;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input{
      border:none;
      font-size:26px;
      outline: none;
      margin-bottom: 10px;
      padding: 5px 4px 5px 4px;
    }
    input[type = "submit"]{
      font-size:26px;
      -webkit-appearance: none;
      -moz-appearance: none;
      border:none;
      cursor:pointer;
      padding: 5px 4px 5px 4px;
      width:100%;
      background:salmon;
      color:white;
      transition: .2s ease-in all;
    }
    input[type = "submit"]:hover {
      
    }
  }
}

.dashboard-container{
  width:100%;
  height:100vh;
  background:blanchedalmond;
  display:grid;
  grid-template-columns: 250px 5fr;
  
  .side-menu{
    overflow-y: scroll;
    background:salmon;
    .inner-menu{
      display:flex;
      flex-flow: column;
      .welcome{
        padding: 10px 0px 10px 0px;
        flex:1;
        display:flex;
        align-items: center;
        color:white;
        font-size: 24px;
        justify-content: center;
      }
      .lists{
        min-height: 400px;
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
          display:flex;
          flex-flow: column;
          justify-items: center;
          align-items: center;
          list-style: none;
          li{
            margin-bottom:20px;
            a{
              color:white;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .main{
    overflow-y: scroll;
    .inner-main{
      
    }
  }
}

.lists-wrapper{
  width:100%;
  min-height:100vh;
  justify-content: center;
  align-items: center;
  display:flex;
  .lists-inner{
    padding-top:20px;
    padding-bottom:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width:70%;
    .list-sqr{
      display:flex;
      justify-content: center;
      align-content: center;
      .lists-sqr-inner{
        position: relative;
        overflow-y: scroll;
        width:300px;
        height:300px;
        background:white;
        padding:20px;
        text-align: center;
        .edit-list{
          width: 40px;
          height: 40px;
          top: 0;
          right: 0;
          position: absolute;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer !important;
          i{
            cursor: pointer !important;
          }
        }
        h3{
          margin-bottom:10px;
        }
        ul{
          list-style: none;
          li{
            margin-bottom:5px;
          }
        }
      }
    }

  }
  
}

.edit-modal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  display:flex;
  justify-content: center;
  align-items: center;
  visibility:hidden;
  opacity: 0;
  transition:all .5s;
  .inner-edit{
    position:relative;
    width:400px;
    height:400px;
    background:white;
    transform: scale(0.1);
    transition: transform .4s;

    .exit-modal{
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      cursor: pointer;
      color: black;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 25px;
      cursor: pointer;
      i{
        cursor: pointer;
      }
    }
  }
}

.visible {
  opacity:1 !important;
  visibility: visible !important;
}

.normal{
  transform: scale(1) !important;
}