/**
 * index.scss
 * - Add any styles you want here!
 */
*{
margin:0;
padding:0;
box-sizing: border-box;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  width:100%;
  height:100vh;
  background:white;
  display: grid;
  justify-content: center;
  align-content: center;
  .btn-wrapper{
    width:350px;
    display:flex;
    height:300px;
    background:blanchedalmond;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .btn{
      width:200px;
      padding:10px;
      text-align: center;
      background:salmon;
      cursor: pointer;
      justify-content: center;
      align-content: center;
      margin-bottom:20px;
      font-size:26px;
      color:white;

    }
    
  }
  .form-wrapper{
    padding:30px 40px;
    display:flex;
    background:blanchedalmond;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input{
      border:none;
      font-size:26px;
      outline: none;
      margin-bottom: 10px;
      padding: 5px 4px 5px 4px;
    }
    input[type = "submit"]{
      font-size:26px;
      -webkit-appearance: none;
      -moz-appearance: none;
      border:none;
      cursor:pointer;
      padding: 5px 4px 5px 4px;
      width:100%;
      background:salmon;
      color:white;
      transition: .2s ease-in all;
    }
    input[type = "submit"]:hover {
      
    }
  }
}

.dashboard-container{
  width:100%;
  height:100vh;
  background:blanchedalmond;
  display:grid;
  grid-template-columns: 250px 5fr;
  
  .side-menu{
    overflow-y: scroll;
    background:salmon;
    .inner-menu{
      display:flex;
      flex-flow: column;
      .welcome{
        padding: 10px 0px 10px 0px;
        flex:1;
        display:flex;
        align-items: center;
        color:white;
        font-size: 24px;
        justify-content: center;
      }
      .lists{
        min-height: 400px;
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
          display:flex;
          flex-flow: column;
          justify-items: center;
          align-items: center;
          list-style: none;
          li{
            margin-bottom:20px;
            a{
              color:white;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .main{
    overflow-y: scroll;
    .inner-main{
      
    }
  }
}



